main {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 24px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin: 0;
}

.gray {
  color: #818181;
}

.side-by-side {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  row-gap: 6px;
  column-gap: 20px;
}

.info {
  display: flex;
  color: #4c4c4c;
  font-size: 13px;
  flex-direction: row;
  justify-content: space-between;
}

section img {
  max-width: 300px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.added {
  color: #2dab50;
}

.removed {
  color: #ea3e47;
}
